.menu_logo{
    margin-top: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}
.img_logo{
    background-image: url(../../../public/logo_dom.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

.text_logo{
    font-size: 35px;
    font-weight: 700;
    color: #09a4eb;
    text-transform: uppercase;
    font-family: 'Tahoma';
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
    letter-spacing: 3px;
    border-top: 2px solid #66cdfd;
    border-bottom: 2px solid #66cdfd;
    padding-top: 3px ;
    padding-bottom: 3px;
}
.text_deviz{
    color: rgb(143, 143, 143);
    font-size: 10px;
    text-align: center;
}
